<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kawtar.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.kawtar.mainUI.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProximityActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"  >
            <intent-filter >
                <action android:name="com.example.kawtar.myapplication.activity.proximity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationView"
            android:label="@string/app_name"
            android:screenOrientation="landscape"  >

            <intent-filter >
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:label="@string/title_indoor_map_activity" android:name="com.kawtar.indoornavigation.IndoorMapActivity" android:screenOrientation="landscape" > </activity>
        <activity android:label="@string/title_activity_main" android:name="com.kawtar.mainUI.MainActivity" android:screenOrientation="landscape"  > </activity>
        <activity android:label="@string/title_activity_finalresponse" android:name="com.kawtar.finalresponse.FinalResponseActivity" android:screenOrientation="landscape"  > </activity>
        <activity android:label="@string/title_activity_maps" android:name=".OutdoorMapActivity" android:screenOrientation="landscape"  > </activity>
        <activity android:label="@string/title_activity_prepare_indoor_map" android:name=".PrepareIndoorActivity" android:screenOrientation="landscape"  > </activity>
        <activity android:label="@string/title_activity_details_list" android:name="com.kawtar.finalresponse.DetailsFinalListActivity" android:screenOrientation="landscape" > </activity>

        <!-- WIDGET PART -->
        <receiver android:name="com.shopping.list.widget.ShoppinglistWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.shopping.list.widget.ShoppinglistWidgetProvider.ACTION_WIDGET_UPDATE_DATA" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="com.shopping.list.widget.ShoppinglistWidgetBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.shopping.list.widget.CLICK_ROW" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.shopping.list.widget.ShoppinglistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- OTHER ACTIVITIES -->
        <activity
            android:name="com.shopping.list.StoreProductsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.ShoppinglistActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.AddProductActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.UserConfigurationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shopping.list.EditProductActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.ManageStoresActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.ManageUnitsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.ManageFavoritesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.EditFavoriteActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.AddFavoriteActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.EditFavoriteProductListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.EditFavoriteProductMappingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.AddProductToFavoriteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.AddStoreActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.AddUnitActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.EditStoreActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.EditUnitActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.shopping.list.ShowHistoryOverviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.shopping.list.ShowHistoryShoppinglist"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
